# .npmrc
# pnpm 配置
shamefully-hoist=true
public-hoist-pattern[]=*esbuild*
public-hoist-pattern[]=*vite*
public-hoist-pattern[]=*vue*
auto-install-peers=true
strict-peer-dependencies=false

# 允许运行构建脚本
ignore-scripts=false
