/* 默认内容布局容器 */
.app-layout {
  min-height: 100vh;

  padding-top: 72px;   /* 距离导航栏 */
  padding-bottom: 64px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 限制内容宽度 */
.app-layout > * {
  width: min(96vw, var(--layout-max-width));
}

